<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>EchoErrorCorrection.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>TestSuite-Intensive.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>TestSuite-Intenzive.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>TestSuite.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E940C8CF18AD478300DB38D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E940C8DC18AD47DC00DB38D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E9C3030E17DCE21000E67695</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E9E0C0EC183EBBB700572EC2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E9E7936F18A79A9500E86090</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
